*{
    padding: 0;
    margin: 0;
}

#main {
    display: flex;
    flex-direction: column;   /* теперь профиль и карточки идут друг под другом */
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    gap: 40px;

    background: linear-gradient(349deg, rgba(232, 58, 174, 1) 0%, rgba(77, 137, 214, 1) 53%, rgba(224, 56, 40, 1) 100%);
    background-size: 300% 300%;
    animation: gradient 20s ease infinite;
}


@keyframes gradient {
    0%   { background-position: 0% 0%; }
    25%  { background-position: 100% 0%; }
    50%  { background-position: 100% 100%; }
    75%  { background-position: 0% 100%; }
    100% { background-position: 0% 0%; }
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.foto {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
     box-shadow: 0 8px 32px rgba(0, 0, 0, 0.15);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
}
.name {
    font-family: "Pinyon Script", cursive;
    font-size: 6rem;
    font-weight: 100;
    color: rgb(0, 0, 0);
    text-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

.Card{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
}
.card_main {
    background-color: rgba(255, 255, 255, 0.12);
    backdrop-filter: blur(16px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 40px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);

    display: flex;
    justify-content: center;
    width: 220px;
    height: 220px;

    align-items: center;
    flex-direction: column;
    gap: 16px;
}
.card_main:hover {
    transform: translateY(-20px);
    transition: transform 0.2s;
}

h3{
 font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 650;
  font-style: normal;
  font-size: 2rem;
  text-decoration-color: black;

}

img{
    
    width: 80px;
    height: 80px;
   

}
.WhatsApp{
    padding: bottom 20px; ;
}
a {
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
@media (max-width: 768px) {
    .Card {
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
    }

    .card_main {
        width: 100px;
        height: 100px;
    }

    .card_main h3 {
        display: none;
    }

    .foto {
        width: 160px;
        height: 160px;
    }

    .name {
        font-size: 3rem;
    }

    img {
        width: 50px;
        height: 50px;
    }
    .WhatsApp{
    padding: bottom 20px; ;
}
}


  
